h1 {color: #4aaaa5;
    font-family: Georgia, 'Times New Roman', Times, serif;}

p {color: #777777;}

header {background-color: #ffffff;
        border-color: #cccccc;}

footer {background-color: #666666;
        }

.maincontent {color: #ffffff;
            border-color: #dddddd;        
}

body {font-family: Arial, Helvetica, sans-serif;}
